<footer class="footer-bs">
	<div class="row pt-3 pb-3">
        <div class="row p-1 text-white text-center text-md-start">
            <div class="col-md-4 footer-nav animated fadeInUp">
            </div>
        	<div class="col-md-3 footer-nav animated fadeInUp">
            	<h5 >UCLA Information</h5>
            	<div >
                    <ul class="pages text-lg-start">
                       <li> <a href="https://www.transportation.ucla.edu/getting-around-campus/campus-maps" class="text-link"><span>Maps & Directions</span></a></li>
                        <li><a href="https://main.transportation.ucla.edu/campus-parking" class="text-link"><span>Parking & Transportation</span></a></li>
                    </ul>
                </div>           	
            </div>
        	<div class="col-md-3 footer-social animated fadeInDown">
            	<h5>Resources</h5>
            	<ul text-lg-start>
                	<li><a href="https://www.pa.ucla.edu/graduate-admissions.html" class="text-link"><span>Prospective students</span></a></li>
				    <li><a href="https://www.pa.ucla.edu/research.html" class="text-link"><span>Research areas</span></a></li>
                </ul>
            </div>
        	<div class="col-md-2 footer-ns animated fadeInRight">
            	<h5> </h5>
                <p></p>
             
            </div>
        </div>
    </div>
    <div class="container-fluid p-1 text-white text-center">
        <br>
        &copy;
        <span id="copyright">
            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        </span>
        Department of Physics & Astronomy 
    </div>
</footer>
    