<div class="flex-container p-1 text-white text-left" > 
  <ol class="breadcrumb topbar-text">
  <li class="breadcrumb-item"><a href="https://www.ucla.edu/" class="remove-underline"><img src="assets/images/logo_UCLA_white.png" class="ucla-logo" /></a></li>
  <li class="breadcrumb-item"><a href="https://www.college.ucla.edu/" class="remove-underline text-link">College</a></li>
  <li class="breadcrumb-item"><a href="https://www.physicalsciences.ucla.edu/" class="remove-underline text-link">Physical Sciences</a></li>
  <li class="breadcrumb-item"><a href="https://www.pa.ucla.edu/" class="remove-underline text-link">Physics & Astronomy</a></li>
  </ol>
</div>

<!-- Navbar -->
<nav class="py-4 navbar navbar-expand-lg  auto-hiding-navbar navbar-light bg-light">
   <div class="container">
     <a class="navbar-brand" href="#"><h1>My Group</h1></a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav ms-auto">
         <li class="nav-item">
          <a class="nav-link {% if page.url == '/' %}active{% endif %}" aria-current="page" href="index.html">Home</a>
         </li>
             <li class="nav-item"> 
              <a class="nav-link {% if page.url == '/research.html' %}active{% endif %}" href="research.html">Research</a>
            </li>
         <li class="nav-item">
              <a class="nav-link {% if page.url == '/publication.html' %}active{% endif %}" href="publication.html">Publications</a>
         </li>
         <li class="nav-item dropdown"> 
             <a class="nav-link dropdown-toggle {% if page.url == '' %}active{% endif %}" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="collasible-nav-dropdown">
            People</a>
           <ul class="dropdown-menu">
            <li>
                <a class="text-decoration-none dropdown-item" {% if page.url == '/faculty.html' %}active{% endif %}" href="faculty.html">Faculty</a>
            </li>
            <li >
             <a class="text-decoration-none dropdown-item" {% if page.url == '/student.html' %}active{% endif %}" href="student.html">Student</a>
            </li>
           </ul>
         </li>
         <li class="nav-item">
           <a class="nav-link {% if page.url == '/news.html' %}active{% endif %}" href="news.html">News</a>
         </li>
         <li class="nav-item">
           <a class="nav-link {% if page.url == '/opening.html' %}active{% endif %}" href="opening.html">Openings</a>
         </li>
         <li class="nav-item">
           <a class="nav-link {% if page.url == '/contact.html' %}active{% endif %}" href="contact.html">Contact</a>
         </li>
       </ul>
     </div>
   </div>
</nav>

<!-- Navbar End -->

